<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
  <script src="/public/js/frontEndJS/index.js"></script>
</head>


<body class="cFlexAlign background-main index_body">
  <div class="indexBlock">
    <div class="cAlign index_head">
      <img src="/public/assest/Logo.png" class="index_logo" />
    </div>

    <div class="d-none mAlign index_welcome">
      <div class="w-50">
        <div class="d-flex index_welcome_pic">
          <img src="/public/assest/index/welcome_rwd.png" />
        </div>
        <div class="index_welcome_start">
          <button class="borderNone background-trasparent lAlign" id="start_rwd">
            <img src="/public/assest/index/index_startButton_rwd.png" />
          </button>
        </div>
      </div>
      <div class="w-50">
        <div class="index_welcome_draw">
          <img src="/public/assest/index/draw_rwd.png" />
          
        </div>
      </div>
    </div>

    <div class="cAlign index_mobile_content">
      <img src="/public/assest/index/index_earth.png" class="index_earth" />
    </div>

    <div class="cAlign index_mobile_content">
      <button class="borderNone background-trasparent" id="start">
        <img src="/public/assest/index/index_startButton.png" class="index_startButton" />
      </button>
    </div>
  </div>
</body>

</html>