<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/login.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="module" src="/public/js/frontEndJS/loginPage.js"></script>
</head>

<body class="background-main font-default">
    <div class="login_block cAlign">
        <div class="login_title login_text_color font-weight-900">會員登入</div>
        <div class="login_input_box mAlign">
            <input type="text" class="input_field borderNone" placeholder="帳號" name="userid">
        </div>
        <div class="login_input_box mAlign">
            <input type="password" class="input_field borderNone" placeholder="密碼" name="userpasswd">
        </div>

        <div class="login_hint font-weight-700 login_text_color">若不知您的帳號，請向教師詢問。</div>
    </div>

    <footer class="login_footer">
        <div class="login_container">
            <img src="/public/assest/login/taiwan.png" class="login_taiwan" />
        </div>
        <div class="login_container d-flex flexDirectionColumn">
            <div class="login_btn_container d-flex flexDirectionColumn">
                <button class="login_btn borderNone background-trasparent" id="loginButton">
                    <img src="/public/assest/login/login.png">
                </button>
            </div>
            <div class="login_info_container">
                <section class="login_info b-box b-shadow">
                    <h1 class="font-weight-600 font-size-18">體驗帳號資訊</h1>
                    <hr />
                    <div>
                        <div>
                            <h2 class="font-weight-600 login_info_margin">學生</h2>

                            <ul>
                                <li>帳號:s1311034099</li>
                                <li>密碼:99</li>
                            </ul>
                        </div>

                        <hr />

                        <div>
                            <h2 class="font-weight-600 login_info_margin">教師</h2>

                            <ul>
                                <li>帳號:tr005</li>
                                <li>密碼:005</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </footer>
</body>

</html>