<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/quiz.css" />
    <script src="/public/js/frontEndJS/studentQuizPage.js"></script>
</head>

<body class="font-default content background-main">
    <div class="d-flex stu_title flexDirectionRow">
        <div class="w-50 lAlign">
            <img src="/public/assest/Logo.png" class="logo" />
        </div>

        <div class="w-50 rAlign">
            <img src="/public/assest/stu_icon.png" class="icon" />
        </div>
    </div>

    <div class="cAlign color-gray1 quiz_text font-weight-700">請選擇欲測驗單元。</div>

    <div class="quiz_unit">
        <div class="cAlign">
            <button class="borderNone background-trasparent" id="quizUnitAll">
                <img src="/public/assest/stu_quiz/review.png" />
            </button>
        </div>

        <div class="cAlign">
            <button class="borderNone background-trasparent" id="quizUnit1">
                <img src="/public/assest/stu_quiz/unit1.png" />
            </button>
        </div>

        <div class="cAlign">
            <button class="borderNone background-trasparent" id="quizUnit2">
                <img src="/public/assest/stu_quiz/unit2.png" />
            </button>
        </div>

        <div class="cAlign">
            <button class="borderNone background-trasparent" id="quizUnit3">
                <img src="/public/assest/stu_quiz/unit3.png" />
            </button>
        </div>

        <div class="cAlign">
            <button class="borderNone background-trasparent" id="quizUnit4">
                <img src="/public/assest/stu_quiz/unit4.png" />
            </button>
        </div>
    </div>



</body>

</html>