<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/sliderMenu.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/teacherAnalyzePage.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/public/js/frontEndJS/teacherClassPage.js"></script>

</head>

<body class="font-default content background-main">
    <div class="d-flex stu_title flexDirectionRow">
        <div class="w-50 lAlign">
            <img src="/public/assest/Logo.png" class="logo" />
        </div>

        <div class="w-50 rAlign">
            <img src="/public/assest/tr_icon.png" class="icon" />
        </div>
    </div>

    <h1 class="font-weight-700 trAnalyze_title">班級管理</h1>
    <hr />

    <section>
        <!-- <div class="menuPanel background-white">
            <div class="menuOuter margin-0-auto">
                <div class="menuTitle d-flex flexDirectionRow">
                    <div>s13110340xx陳楚瑜</div>
                    <button class="titleToggle cAlign borderNone background-trasparent">
                        <img src="/public/assest/tr_exam/extend.png" />
                    </button>
                </div>
                <div class="menuContent d-none">
                    <div class="chartContainer">
                        <img src="/public/assest/stu_state/correctRate.png" class="chartTitle" />
                        <canvas width="250" height="250" class="lineChart background-white"></canvas>
                    </div>
                    <div class="chartContainer">
                        <img src="/public/assest/stu_state/radarChart.png" class="lineChart chartTitle" />
                        <canvas width="250" height="250"></canvas>
                    </div>
                    <div class="totalNum">總作答次數:</div>
                    <div class="totalQNum">總作答題數:</div>
                    <div class="totalRate">總答對率:</div>
                    <div class="lastTestTime">上次測驗時間:</div>
                    <div>各單元作答次數:</div>
                    <div class="unitAllNum">總複習作答次數:</div>
                    <div class="unit1Num">單元1作答次數:</div>
                    <div class="unit2Num">單元2作答次數:</div>
                    <div class="unit3Num">單元3作答次數:</div>
                    <div class="unit4Num">單元4作答次數:</div>
                </div>
            </div>
        </div> -->
    </section>

</body>

</html>