img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

.borderNone {
    border-style: none;
}

.background-trasparent {
    background: transparent;
}

.lAlign {
    text-align: left;
}

.rAlign {
    text-align: right;
}

.cAlign {
    text-align: center;
}

.jAlign {
    text-align: justify;
}

.mAlign {
    margin: 0 auto;
}

.cFlexAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flexAlignCneter {
    justify-content: center;
    align-items: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

.flexDirectionRow {
    flex-direction: row;
}

.flex-newline-wrap {
    flex-wrap: wrap;
}

.color-white {
    color: white;
}

.color-gray {
    color: #353535;
}

.color-gray1 {
    color: #3e3a39;
}

.color-gray2 {
    color: #231815;
}

.color-green {
    color: #5a7016;
}

.color-red {
    color: #f04a41;
}

.color-red1 {
    color: #c30d23;
}

.color-blue {
    color: #8b9cc5;
}

.color-blue1 {
    color: #1673ff;
}

.background-main {
    background-color: #DCDDDD;
}

.background-white {
    background-color: white;
}

.background-white1 {
    background-color: #f7f7f7;
}

.background-white2 {
    background-color: #f3f3f3;
}

.background-green {
    background-color: #5a7016;
}

.font-default {
    font-family: 'Noto Sans TC', sans-serif;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-900 {
    font-weight: 900;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.margin-0-auto {
    margin: 0 auto;
}

.margin-auto-0 {
    margin: auto 0;
}

.b-box {
    box-sizing: border-box;
}

.b-shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cursorPoint {
    cursor: pointer;
}

@media screen and (min-width:720px) {}

@media screen and (min-width:1024px) {}