.indexBlock {
  width: 60%;
}

.index_earth {
  width: 80%;
  margin: 80px 0;
}

.index_startButton {
  width: 45%;
}

.index_logo {
  width: 100%;
}

@media screen and (min-width:450px) {

  .index_earth {
    width: 75%;
    margin: 100px 0;
  }

  .index_startButton {
    width: 50%;
  }
}

@media screen and (min-width:720px) {
  .index_logo {
    width: 90%;
  }

  .index_earth {
    width: 70%;
    margin: 55px 0;
  }

  .index_startButton {
    width: 40%;
  }
}