.outer {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

.title {
  position: relative;
  height: 72px;
  background-color: #dfe8f0;
}

.color-gray {
  color: #333131;
}

.navBtn {
  width: 100px;
  font-size: 18px;
  text-align: center;
}

.logo {
  width: 170px;
}

.burger {
  position: absolute;
  right: 20;
  top: 22;
}

.mobile-menu {
  position: relative;
  width: 0px;
  height: 0px;
  cursor: pointer;
  z-index: 1;
}
.mobile-menu__line,
.mobile-menu::before,
.mobile-menu::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #010101;
}

/* 漢堡選單中間橫槓 */
.mobile-menu__line {
  top: 50%;
  transform: translateY(-50%);
}

/* 漢堡選單上面橫槓 */
.mobile-menu::before {
  content: "";
  top: 0;
}

/* 漢堡選單下面橫槓 */
.mobile-menu::after {
  content: "";
  bottom: 0;
}

.navbar {
  position: absolute;
  top: 72;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 0;
  /* 先把高度設 0 使選單隱藏 */
  overflow: hidden;
  background-color: #dfe8f0;
  text-align: center;
  z-index: 1;
}

.navbar div {
  font-size: 18px;
  line-height: 36px;
  height: 36px;
}

.open.navbar {
  /* 偵測到 click 事件才會顯示高度 */
  height: auto;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 320px;
    background-image: url(https://cdn.glitch.global/51191c79-6a52-47a6-b10a-b74d0c895582/background720.jpg?v=1659971773557);
    background-position: -70px center;
  }

  .mobile-menu {
    width: 35px;
    height: 25px;
  }

  .navBtn {
    display: none;
  }

}