.outer{
    flex-wrap: wrap;
    flex-direction: column;
}

.chartContainer {
    margin-bottom: 32px;
}

.chartTitle {
    width: 45%;
    margin-bottom: 8px;
}

@media screen and (min-width:1024px){
    .outer{
        flex-direction: row;
    }

    .chartContainer{
        width: 46%;
        margin: 0 15px;
    }

    .chartTitle{
        width: 40%;
    }
}

@media screen and (min-width:1366px){
    .chartContainer{
        width: 40%;
        margin: 0 30px;
    }
}