.stuLearnMapTitle {
    font-size: 34px;
}

.outer{
    flex-direction: column;
}

.calendar {
    border-radius: 15px;
    border: 1px solid rgba(45, 45, 45, 0.3);
}

.calendarTitle {
    margin: 12px 0;

}

.calendarControl {
    width: 20%;
}

.calendarHead {
    flex-grow: 1;
}

.monthText {
    font-size: 24px;
}

.calendarBody_item {
    margin: 16px 0;
    border-bottom: 1px solid black;
    height: 30px;
}

.calendarBody_item:last-of-type {
    border-bottom: none;
}

.calendarBody_item ul li {
    width: 14.28%;
    text-align: center;
}

.calendarBody_item ul li:last-of-type {
    border-right: none;
}

.calendar_mark {
    border-bottom: 5px solid rgba(90, 112, 22, 0.3);
    width: 75%;
}

.learnHint {
    margin: 16px 0;
}

@media screen and (min-width:1024px) {
    .outer{
        width: 50%;
    }
}

@media screen and (min-width:1366px) {
    .outer{
        width: 40%;
    }
}