.stu_hello {
    font-size: 40px;
}

.stu_learn_text {
    font-size: 20px;
    margin: 10px 0;
}

.stu_func {
    margin: 25px 0;
    justify-content: flex-start;
    align-items: center;
}

.stu_func button {
    background: transparent;
}

.stu_func div {
    box-sizing: border-box;
    padding: 3px;
}

.stu_history_text {
    font-size: 24px;
}

.stu_course {
    height: 12.5vh;
    background-image: url("../assest/student/history.png");
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0;
}

.area1 {
    width: 28%;
}

.area2 {
    /* padding: 32px 0; */
    width: 72%;
    align-items: flex-start;
}

.area2 div {
    padding: 4px 0;
}

@media screen and (min-width:1024px) {
    .stu_func div {
        width: 25%;
    }

    .stu_course {
        width: 35%;
        height: 14vh;
    }
}

@media screen and (min-width:1366px) {
    .stu_func div {
        width: 16%;
    }

    .stu_course {
        width: 22%;
        height: 12vh;
    }
}

@media screen and (min-width:1536px) {
    .stu_course {
        height: 14vh;
    }
}