.stuAR_hint{
    font-size: 18px;
    margin : 58px 0 38px 0;
}

.stuAR_container{
    margin: 0 10%;
}

.stuAR_unit{
    margin: 12px 0;
}

.stuAR_item{
    margin: 4px 0;
}

.stuAR_pic{
    height: 42px;
}